/***********************
*                      *
*   Temporary Fonts    *
*                      *
***********************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/***********************
*                      *
*   Font-Face Setup    *
*                      *
***********************/

/***********************
*                      *
*   Global Variables   *
*                      *
***********************/

$font-sm: clamp(1.125rem, 0.625rem + 2.22222vw, 1.425rem);
$font-med: clamp(1.25rem, 0.625rem + 2.22222vw, 2.425rem);
$font-weight-sm: 600;
$font-heading-sm: clamp(2.5rem, 0.20569620253165rem + 12.65823vw, 4.375rem);

// Fonts
$theme-accent: #9AD2CB;
$theme-accent-shadow: #AF1385;
$theme-body-background: #F3F4F6;
$theme-body-text: black;
$theme-heading: #525B76;
$theme-light: #FFFFFF;

@mixin screen-sm {
    @media (min-width: 576px) { @content; }
}

@mixin hide-screen-sm {
    @media (max-width: 575px) { @content; }
}

/***********************
*                      *
*    Global Styles     *
*                      *
***********************/

body {
    background-color: $theme-body-background;
}
