@import "./globals";


.blog__grid {
    color: $theme-body-text;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 1.5em 0;
    text-align: center;
}

.blog__pgp-title {
    text-align: center;
    margin-bottom: .5em;
}

.blog__pgp-wrapper {
    align-self: center;
    text-align: start;
    margin: 1em 0 1em;
}

.blog__pgp-key {
    font-size: $font-x-sm;
    max-width: 321px;
}

.blog__post {
    font-size: $font-sm;
    font-weight: $font-weight-sm;
    line-height: 2;
}

.blog__post-wrapper {
    background-color: $theme-accent-green;
}

.blog__title {
    color: $theme-heading;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: $font-title-sm;
    margin-top: 6rem;

    @include screen-med {
        margin-top: 4rem;
    }
}
