@import "../sass/globals";

.footer {
    display: flex;
    color: $theme-accent-purple;
    font-family: "Poppins", sans-serif;
    justify-content: flex-end;
    margin: 0 1em;
}

.footer__copyright {
    color: $theme-accent-green;
}
