@import "../sass/globals";

.footer {
    align-items: center;
    background-color: $theme-heading;
    display: flex;
    color: $theme-light;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    height: 120px;
    justify-content: center;
    width: 100%;
}

.footer__connections {
    align-items: flex-end;
    display: flex;
    flex-grow: 1;
}

.footer__copyright {
    margin-right: 2em;
}

.footer__copyright-wrapper {
    align-items: flex-end;
    align-self: flex-end;
    display: flex;
    flex-grow: 1;
    justify-self: flex-end;
}

.footer__github-link {
    margin-right: 1em;
}

.footer__github-picture {
    justify-self: center;
}

.footer__twitter-picture {
    height: 32px;
    width: 32px;
}
