@import "./globals";

.home__about {
    font-size: $font-home-text-sm;
    line-height: 2;
    list-style-type: circle;

    @include screen-med {
        font-size: $font-home-text-med;
    }

    @include screen-fifteen {
        font-size: 1.5rem;
    }
}

.home__grid {
    color: $theme-body-text;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    margin: 0 1.5em 0;
}

.home__initial-page-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include screen-med {
        align-items: center;
    }
}

.home__my-name {
    font-size: $font-home-text-sm;
    line-height: 2;
    max-width: 320px;

    @include screen-med {
        font-size: $font-home-text-med;
        max-width: 400px;
        margin-bottom: 4rem;
    }

    @include screen-fifteen {
        font-size: 1.5rem;
    }
}

.home__my-name--colored {
    background: radial-gradient(circle, $theme-accent-purple 25%, $theme-accent-green 100%);
    background-clip: text;
    color: transparent;
}

.home__projects {
    font-size: $font-home-text-sm;
    line-height: 2;
    max-width: 450px;

    @include screen-fifteen {
        font-size: 1.5rem;
    }
}

.home__projects-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
}

.home__second-page-wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    width: 100%;
}

.home__separator {
    background-color: black;
    height: 3px;
    max-width: 400px;
    width: 50%;
}

.home__separator-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.home__title {
    color: $theme-heading;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: $font-home-title-sm;
    margin-top: 6rem;

    @include screen-med {
        margin-top: 4rem;
    }
}

.home__whatido {
    color: $theme-heading;
    font-size: $font-home-title-sm;
    font-family: "Poppins", sans-serif;
    font-weight: 800;

    @include screen-fifteen {
        justify-content: unset;
        position: unset;
    }
}

.home__work {
    font-size: $font-home-text-sm;
    line-height: 2;
    margin-bottom: 3em;

    &:last-child {
        margin-bottom: unset;
    }

    @include screen-fifteen {
        font-size: 1.5rem;
    }
}

.home__work-wrapper {
    text-align: center;
    width: 100%;
}

.projects__link {
    position: relative;
    text-decoration: 1px solid black underline;
}
