@import "./globals";

.home__grid {
    color: $theme-body-text;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: "Shadows Into Light";
    margin: 0 1.5em 0;

    :not(:first-child) {
        font-size: clamp(1.375rem, 0.91613924050633rem + 2.53165vw, 1.75rem);
    }
}

.home__about {
    line-height: 2;

    @include screen-sm {
    }
}

.home__about-wrapper {
    margin: 2em 0em 2em;
    width: 100%;
}

.home__projects {

    @include screen-sm {
    }
}

.home__projects-link {
    color: $theme-body-text;
    text-decoration: underline;
    text-underline-offset: 1.75px;
    text-decoration-color: $theme-accent;
}

.home__projects-wrapper {
    margin-top: 15em;
}

.home__title {
    color: $theme-heading;
    font-family: "Poppins";
    font-weight: 800;
    font-size: $font-heading-sm;
    margin: auto;
    @include screen-sm {
      font-size: 4rem;
    }
}

.home__title-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.home__title--su {
    color: $theme-accent;
    text-shadow: 2px 2px 2px $theme-accent-shadow;
}

.home__work {
    line-height: 2;

    @include screen-sm {
    }
}

.home__work-wrapper {
    width: 100%;
}

/***************************************
*                                      *
*             Breakpoints              *
*                                      *
***************************************/

@media only screen and (min-width: 26.25em) {
}
