@import "./globals";

.home__grid {
    color: $theme-body-text;
    display: flex;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    flex-grow: 1;
    margin: 0 1.5em 0;
}

.home__about {
    font-size: $font-home-text-sm;
    line-height: 1.5;
    margin-bottom: auto;

    @include screen-med {
        position: relative;
        top: -4rem;
    }

    @include screen-biggest {
        margin-bottom: unset;
        position: unset;
        top: unset;
        
    }
}

.home__initial-page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;

    @include screen-med {
        align-items: center;
    }

    @include screen-biggest {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-items: center;
        position: unset;
        top: unset;
    }
}

.home__my-name {
    font-size: $font-home-text-sm;
    line-height: 1.5;
    max-width: 480px;

    @include screen-med {
        margin-bottom: unset;
        max-width: 520px;
        position: relative;
        top: -2rem;
    }

    @include screen-desktop {
        position: unset;
        top: unset;
    }
}

.home__my-name--colored {
    background: radial-gradient(circle, $theme-accent-purple 25%, $theme-accent-green 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home__projects {
    font-size: $font-sm;
    line-height: 1.5;

    @include screen-biggest {
    }
}

.home__projects-link {
    color: $theme-body-text;
    text-decoration: underline;
    text-underline-offset: 1.75px;
    text-decoration-color: $theme-accent-green;
}

.home__projects-wrapper {
    margin-bottom: auto;
}

.home__second-page-wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    min-height: 100vh;
    width: 100%;
}

.home__separator {
    background-color: black;
    height: 3px;
    position: relative;
    transform: translateX(-24px);
    width: 75%;
}

.home__separator--right{
    margin-left: auto;
    margin-bottom: 5em;
    transform: translateX(24px);
}

.home__title {
    color: $theme-heading;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: $font-home-title-sm;
    margin-top: auto;

    @include screen-med {
        font-size: 8rem;
        margin-top: unset;
    }

}

.home__whatido {
    color: $theme-heading;
    font-size: $font-home-title-sm;
    font-family: "Poppins", sans-serif;
    font-weight: 800;

    @include screen-med {
        font-size: 8rem;
        position: relative;
        top: -2rem;
    }

    @include screen-biggest {
        display: initial;
        justify-content: unset;
        position: unset;
    }
}

.home__work {
    font-size: $font-sm;
    line-height: 1.5;
    margin-top: 5em;
    margin-bottom: 5em;

}

.home__work-wrapper {
    width: 100%;
}
