@import "./globals";

/***************************************
*                                      *
*           Utility Classes            *
*                                      *
***************************************/

/***************************************
*                                      *
*          Component Classes           *
*                                      *
***************************************/

.nav__item {
    align-self: center;
    display: inline-block;
    text-align: center;
    width: fit-content;
}

.nav__link {
    color: $theme-accent-green;
    font-family: "Work Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    padding: 0; 
    position: relative;
    text-align: center;
    text-shadow: 3px 0px 2px rgba(0, 0, 0, 1);

    @include screen-med {
    }
}

.nav__link:hover, .nav__link:focus {
    border: none;
    color: $theme-light;
    text-shadow: 
        -1px -1px 0 $theme-accent-green,  
        1px -1px 0 $theme-accent-green,
        -1px 1px 0 $theme-accent-green,
        1px 1px 0 $theme-accent-green,
        3px 0px 2px $theme-accent-green;
}

.nav__list {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;

    @include hide-screen-sm {
        display: none;
    }
}
